main {
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.main_wrapper >* {
    padding-inline: 2rem;
    padding-bottom: 2rem;
}

.main_card1_wrapper {
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(215, 217, 218, 0.522);
    border-radius: 1rem;
}