@media (min-width: 1024px) {

    nav,
    main {
        display: flex;
        place-content: center;
      
    }

    .nav_bar,
    .main_container {
        max-width: 1440px;
    }

    /*nav*/
    .nav_logo {
        width: 140px;
    }

    .nav_button button {
        padding-inline: 3rem;
        padding-block: .7rem;
        border-radius: 2rem;
    }

    .nav_bar-main {
        display: flex;
    }

    .nav_bar {
        padding: 4rem;
    }


    .nav_bar_section1 {
        width: 50%;
        margin-right: 3rem;
        place-content: center;
    }

    .nav_bar_section1 .nav_bar_title {
        font-size: 2.2rem;
    }

    .nav_bar_section1 .nav_bar_title,
    .nav_bar_section1 .nav_bar_text,
    .nav_bar_section1 .nav_bar_button {
        text-align: start;
        width: 95%;
    }

    /*main*/

    .main_wrapper {
        padding-inline: 2rem;

    }

    .main_card1 .main_card1_wrapper,
    .main_card3 .main_card1_wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    .main_card1 .main_card1_stack>*,
    .main_card2 .main_card1_stack>*,
    .main_card3 .main_card1_stack>* {
        text-align: start;
        margin-left: 4rem;
    }

    .card1_image>* {
        max-width: 500px;
    }

    .main_wrapper .main_card2 {
        display: flex;

    }

    .main_card1 .main_card1_stack,
    .main_card3 .main_card1_stack {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main_card2 .main_card1_wrapper {
        display: flex;

    }

    .title_text_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main_card1 .card1_text,
    .main_card3 .card1_text {
        width: 45%;

    }

    .main_card2 .main_card1_stack {
        display: flex;
        justify-content: right;
        width: 70%;
    }

    .title_text_wrapper {
        width: 51%;
    }

    /*footer*/

    .footer_top_wrapper .footer_title {
        font-size: 1.5rem;
    }

    .footer_logo,
    .footer_bottom {
        margin-inline: 4rem;
    }

    .footer_wrapper {
        display: flex;
        place-content: center;
    }

    .footer_top {
        width: 60%;
    }

    .footer_logo img {
        width: 180px;
        filter: brightness(0) invert(1) grayscale(1);
    }

    .footer_bottom_wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer_location {
        width: 390px;
    }
    
    .footer_copy {
        display: flex;
        place-content: end;
        margin-right: 4rem;
    }
    
    .footer_button button {
        background-color: var(--Pink);
        color: white;
        text-align: center;
        font-family: Poppins;
        border: 0px solid;
        font-size: 1rem;
        border-radius: 50px;
        padding-inline: 4rem;
        padding-block: 1rem;
    }

    
}