:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

nav {
    background-image: url(/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Very-Pale-Cyan);
}

.nav_bar {
    padding: 2rem;
}

.nav_bar_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    justify-content: space-between;

}

.nav_logo {
    width: 110px;
}

.nav_bar_top {
    margin-bottom: 4rem;
}

.nav_button button {
    border: 0px solid;
    padding-inline: 1.5rem;
    padding-block: .4rem;
    background-color: white;
    border-radius: 1rem;
    font-size: .7rem;
    font-weight: 600;
    font-family: 'Open Sans';
    box-shadow: 2px 2px 10px rgba(143, 163, 170, 0.409);
}

.nav_bar_button {
    margin-block: 3rem;
    text-align: center;
}

.nav_bar_button button {
    background-color: var(--Pink);
    border: 0px solid;
    color: white;
    padding-block: .7rem;
    padding-inline: 4rem;
    border-radius: 2rem;
}